.row.bg-title
  .col-lg-12
    %h4.page-title Car management
    %ol.breadcrumb
      %li
        %a{:href => "/"} Dashboard
      %li
        = link_to 'Cars', backend_yatches_path
      %li.active all yatches
  / /.col-lg-12
/ row
.row
  .col-lg-12
    .white-box
      %h3 Edit car
      = render partial: 'form'
