.navbar-default.sidebar.nicescroll{:role => "navigation"}
  .sidebar-nav.navbar-collapse
    %ul#side-menu.nav
      %li.sidebar-search.hidden-sm.hidden-md.hidden-lg
        .input-group.custom-search-form
          %input.form-control{:placeholder => "Search...", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-default{:type => "button"}
              %i.fa.fa-search
        / /input-group
      %li.nav-small-cap Main Menu
      %li
        %a.waves-effect{href: "/backend"}
          %i.glyphicon.glyphicon-fire.fa-fw
          Dashboard
      %li
        %a.waves-effect{href: "/backend/users"}
          %i.ti-widget.fa-fw
          User management
      %li
        %a.waves-effect{href: "/backend/jets"}
          %i.ti-widget.fa-fw
          Jet management
      %li
        %a.waves-effect{href: "/backend/cars"}
          %i.ti-widget.fa-fw
          Car management
      %li
        %a.waves-effect{href: "/backend/yatches"}
          %i.ti-widget.fa-fw
          Yatch management
