.navbar-default.sidebar.nicescroll{:role => "navigation"}
  .sidebar-nav.navbar-collapse
    %ul#side-menu.nav
      %li.sidebar-search.hidden-sm.hidden-md.hidden-lg
        .input-group.custom-search-form
          %input.form-control{:placeholder => "Search...", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-default{:type => "button"}
              %i.fa.fa-search
        / /input-group
      %li.nav-small-cap Main Menu
      %li
        %a.waves-effect{href: "/backend"}
          %i.glyphicon.glyphicon-fire.fa-fw
          Dashboard
      %li
        %a.waves-effect{href: "/backend/users"}
          %i.ti-widget.fa-fw
          User management
      %li
        %a.waves-effect{href: "#"}
          %i.ti-face-smile.fa-fw
          Icons
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            %a{href: "#"} Font awesome
          %li
            %a{href: "#"} Themify Icons
          %li
            %a{href: "#"} Simple line Icons
          %li
            %a{href: "#"} Weather Icons
        / /.nav-second-level
      %li
        %a.waves-effect{href: "#"}
          %i.ti-location-pin.fa-fw
          Google Map
      %li
        %a.waves-effect{href: "#"}
          %i.ti-ink-pen.fa-fw
          Vector Map
      %li
        %a.waves-effect{href: "#"}
          %i.ti-files.fa-fw
          Sample Pages
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            %a{href: "#"} Blank Page
          %li
            %a{href: "#"} Login Page
          %li
            %a{href: "#"} Login Page 2
          %li
            %a{href: "#"} Profile
          %li
            %a{href: "#"} Invoice
          %li
            %a{href: "#"} FAQ
          %li
            %a{href: "#"} Gallery
          %li
            %a{href: "#"} Pricing
          %li
            %a{href: "#"} Register
          %li
            %a{href: "#"} Recover Password
          %li
            %a{href: "#"} Lock Screen
          %li
            %a{href: "#"} Error 400
          %li
            %a{href: "#"} Error 403
          %li
            %a{href: "#"} Error 404
          %li
            %a{href: "#"} Error 500
          %li
            %a{href: "#"} Error 503
        / /.nav-second-level
      %li
        %a.waves-effect{href: "#"}
          %i.ti-email.fa-fw
          Inbox
      %li
        %a.waves-effect{href: "#"}
          %i.ti-calendar.fa-fw
          Calender
      %li
        %a.waves-effect{href: "#"}
          %i.ti-share.fa-fw
          Multi-Level Dropdown
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            %a{href: "#"} Second Level Item
          %li
            %a{href: "#"} Second Level Item
          %li
            %a.waves-effect{href: "#"}
              Third Level
              %span.fa.arrow
            %ul.nav.nav-third-level
              %li
                %a{href: "#"} Third Level Item
              %li
                %a{href: "#"} Third Level Item
              %li
                %a{href: "#"} Third Level Item
              %li
                %a{href: "#"} Third Level Item
