.row.bg-title
  .col-lg-12
    %h4.page-title State management
    %ol.breadcrumb
      %li
        %a{:href => "/"} Dashboard
      %li
        = link_to 'States', backend_states_path
      %li.active= current_header
