@import 'bootstrap/dist/css/bootstrap';
@import 'spinners';
@import 'metisMenu/dist/metisMenu';
@import 'morris.js/morris';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import 'backend-style';
@import 'font-awesome/css/font-awesome';
@import 'themify-icons/css/themify-icons';
@import 'simple-line-icons/css/simple-line-icons';
@import 'weather-icons/css/weather-icons';
@import 'morris.js/morris';

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('bootstrap/dist/fonts/glyphicons-halflings-regular.eot');
  src: url('bootstrap/dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('bootstrap/dist/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('bootstrap/dist/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('bootstrap/dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('bootstrap/dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('font-awesome/fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),
    url('font-awesome/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),
    url('font-awesome/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),
    url('font-awesome/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),
    url('font-awesome/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'themify';
  src: url('themify-icons/fonts/themify.eot?-fvbane');
  src: url('themify-icons/fonts/themify.eot?#iefix-fvbane') format('embedded-opentype'),
    url('themify-icons/fonts/themify.woff?-fvbane') format('woff'),
    url('themify-icons/fonts/themify.ttf?-fvbane') format('truetype'),
    url('themify-icons/fonts/themify.svg?-fvbane#themify') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'simple-line-icons';
  src: url('simple-line-icons/fonts/Simple-Line-Icons.eot?-i3a2kk');
  src: url('simple-line-icons/fonts/Simple-Line-Icons.eot?#iefix-i3a2kk') format('embedded-opentype'),
    url('simple-line-icons/fonts/Simple-Line-Icons.ttf?-i3a2kk') format('truetype'),
    url('simple-line-icons/fonts/Simple-Line-Icons.woff2?-i3a2kk') format('woff2'),
    url('simple-line-icons/fonts/Simple-Line-Icons.woff?-i3a2kk') format('woff'),
    url('simple-line-icons/fonts/Simple-Line-Icons.svg?-i3a2kk#simple-line-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Design Iconic Font';
  src: url('../fonts/Material-Design-Iconic-Font.eot?v=1.0.1');
  src: url('../fonts/Material-Design-Iconic-Font.eot?#iefix&v=1.0.1') format('embedded-opentype'),
    url('../fonts/Material-Design-Iconic-Font.woff?v=1.0.1') format('woff'),
    url('../fonts/Material-Design-Iconic-Font.ttf?v=1.0.1') format('truetype'),
    url('../fonts/Material-Design-Iconic-Font.svg?v=1.0.1#Material-Design-Iconic-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'weathericons';
  src: url('weather-icons/font/weathericons-regular-webfont.eot');
  src: url('weather-icons/font/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('weather-icons/font/weathericons-regular-webfont.woff2') format('woff2'),
    url('weather-icons/font/weathericons-regular-webfont.woff') format('woff'),
    url('weather-icons/font/weathericons-regular-webfont.ttf') format('truetype'),
    url('weather-icons/font/weathericons-regular-webfont.svg#weather_iconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
